body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url(../css/images/image.jpeg);
}

a {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
