/* public/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Styles pour la page des utilisateurs */
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
}

.sent {
    background-color: #d1e7dd; /* Vert clair */
    margin-left: auto; /* Aligne à droite */
    text-align: right;
}

.received {
    background-color: #f8d7da; /* Rouge clair */
    text-align: left;
}
